:root {
    --vertical-offset: -80%;
  }

.mole.lid {
    border: 2px solid white;

    background-color: black;
    width: 100px;
    position: relative;
}

.mole.lid.top, .mole.lid.bottom {
    height: 20%;
    z-index: 29;
    border-radius: 100%;
}

.mole.lid.top {
    top: calc(var(--vertical-offset) + 130%);
}

.mole.lid.body {
    height: 5%;
    z-index: 28;
    top: calc(var(--vertical-offset) + 120%);

    border-bottom: 0px;
}

.mole.lid.bottom {
    z-index: 27;
    top: calc(var(--vertical-offset) + 110%);
}

.mole.face {
    width: 100px;
    height: 40%;
    position: relative;
    top: calc(var(--vertical-offset) + 100%);
    border-bottom: 0px;
    z-index: 19;
    display: flex;
    justify-content: space-around;
}

.mole.face .eye{  
    border-radius: 100%;
    border: 5px solid white;
    height: 30px;
    width: 30px;
    z-index: 20;
    position: relative;
}

.mole.mouth {
    background-color: black;
    border: none;
    border-bottom: 10px solid white;
    height: 30px;
    width: 50px;
    border-radius: 100%;
    z-index: 20;
    position: relative;
    top: calc(var(--vertical-offset) + 85%);
}

.mole.bottom {
    background-color: black;
    height: 20%;
    width: 100px;
    border-radius: 100%;
    border: 2px solid white;
    z-index: 1;
    position: relative;
    top: calc(var(--vertical-offset) + 75%);
}

.test {
    background-color: black;
    height: 20%;
    width: 100px;
    border-radius: 100%;
    border: 2px solid white;
    z-index: -1;
    position: relative;
    top: 55%;
    transition:none;
}


.moleContainer {
    height: 200px;
}

.getOut {
    transition: ease-in 1s transform;
    transform: translate(0,-50%); 
}

.getIn {
    transition: ease-in 0.5s transform;
    transform: translate(0,0%); 
}