@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: "coucou";
    src: url("/resource/crackman.TTF");
}

* {
    box-sizing: border-box;
    /* color: white; */
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: xxx-large;
    font-family: "coucou";
}
.p {
    font-size: x-small;    
    text-align: left;
    justify-content: right;
    line-height: 15px;
    }

#header{
    height: 120px;
    width: 100%;
    background-color: white;
    flex-direction: column;
    display: flex;
    color: black;
    margin-bottom: 20px;
}


#grid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 500px;
    padding-bottom: 40px;
    padding-top: -40px;

    margin-top: 10px;
    margin-bottom: 10px;

    background-color: black; 
    /* border: 5px solid chocolate; */
}
.hole {
    height: 29%;
    flex-grow: 1;
    width: 25%;
    margin: 2%;
    overflow: hidden;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    /* border: 5px solid chocolate; */
    width: 400px;
    line-height: 40px;
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  #restart {
      padding: 10px;
      margin: 20px;
  }


.gradient-border {
  --borderWidth: 5px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


